<nav class="navbar navbar-expand-lg navbar-toggleable-md bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
       
        <a class="navbar-brand" href="/Member/Home">Wholly Smokin Downtown</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Div Start-->
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
            <!--Navbar Items Start-->
            <ul class="navbar-nav ml-auto">
                
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> {{user.f_Name}}'s Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Shopping-Cart">View Cart</a>
                        <a class="dropdown-item" href="#">View Order History</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Logout">Logout</a>
                    </div>
                </li>
                <!--Shopping Cart Link Starts-->
                <li class="nav-item">
                    <a class="nav-link" href="/Shopping-Cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                <!--Shopping Cart Link Ends-->
                
                <!-- Menu Dropdown Menu Start-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Menu/Category/Home">Dining/Take-Out</a>
                        <a class="dropdown-item" href="#">Catering</a>
                    </div>      
                </li>
               <!-- Menu Dropdown Menu End-->

               <li class="nav-item">
                    <a class="nav-link" href="/Member/Spirits">Spirits</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Member/Events">Events</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Member/AboutUs">About Us</a>
                </li>
            </ul>
            <!--Navbar Items End-->
        </div>
         <!-- Navbar Div End-->
    </div>
</nav>