<br /><br /><br />

<div class="container-fluid" id="AboutHeader-section">
    <br />  <br />  <br />
    <h1>Welcome to the About Us Page!</h1>
    <div class="row">

        
    </div>
    <br />
    <br />
</div>


<!-- PART A HEAD BEGINS-->
<section id="part1-head-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Part 1</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iure aspernatur inventore nobis incidunt debitis. Corporis assumenda unde eaque quaerat provident quisquam, quidem vero culpa debitis delectus numquam nulla reprehenderit.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- PART A  HEAD ENDS-->

<!-- PART A  SECTION BEGINS-->
<section id="part1-section" class="bg-light">
   <div class="container-fluid">
            <div class="row">
                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>

           <div class="row">

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>   
</section>
<!-- PART A  SECTION BEGINS-->

<!-- PART B HEAD BEGINS-->
<section id="part2-head-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Part 2</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iure aspernatur inventore nobis incidunt debitis. Corporis assumenda unde eaque quaerat provident quisquam, quidem vero culpa debitis delectus numquam nulla reprehenderit.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- PART B  HEAD ENDS-->

<!-- PART B  SECTION BEGINS-->
<section id="part2-section" class="bg-light">
    <div class="container-fluid">
            <div class="row">
                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>

           <div class="row">

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>   
</section>
<!-- PART B  SECTION BEGINS-->

<!-- PART C HEAD BEGINS-->
<section id="part3-head-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Part 3</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iure aspernatur inventore nobis incidunt debitis. Corporis assumenda unde eaque quaerat provident quisquam, quidem vero culpa debitis delectus numquam nulla reprehenderit.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- PART C  HEAD ENDS-->

<!-- PART C  SECTION BEGINS-->
<section id="part3-section" class="bg-light">
    <div class="container-fluid">
            <div class="row">
                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>

           <div class="row">

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>   
</section>
<!-- PART C  SECTION BEGINS-->

<!-- PART D HEAD BEGINS-->
<section id="part4-head-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Part 4</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iure aspernatur inventore nobis incidunt debitis. Corporis assumenda unde eaque quaerat provident quisquam, quidem vero culpa debitis delectus numquam nulla reprehenderit.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- PART D  HEAD ENDS-->

<!-- PART B  SECTION BEGINS-->
<section id="part4-section" class="bg-light">
    <div class="container-fluid">
            <div class="row">
                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>

           <div class="row">

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>   
</section>
<!-- PART D  SECTION BEGINS-->

<!-- PART E HEAD BEGINS-->
<section id="part5-head-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Part 5</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iure aspernatur inventore nobis incidunt debitis. Corporis assumenda unde eaque quaerat provident quisquam, quidem vero culpa debitis delectus numquam nulla reprehenderit.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- PART E  HEAD ENDS-->

<!-- PART E  SECTION BEGINS-->
<section id="part5-section" class="bg-light">
   <div class="container-fluid">
            <div class="row">
                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>

           <div class="row">

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>   
</section>
<!-- PART E  SECTION BEGINS-->

<!-- PART F HEAD BEGINS-->
<section id="part6-head-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Part 6</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iure aspernatur inventore nobis incidunt debitis. Corporis assumenda unde eaque quaerat provident quisquam, quidem vero culpa debitis delectus numquam nulla reprehenderit.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- PART F  HEAD ENDS-->

<!-- PART F  SECTION BEGINS-->
<section id="part6-section" class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>

           <div class="row">

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>

                <div id="AB_Card" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://unsplash.it/400/400" alt="Card image">
                    </div>
                </div>
            </div>   
</section>
<!-- PART F  SECTION BEGINS-->