<hr>
<hr>
<hr>
<hr>
<hr>


<section id="resetPassword" class="py-5">
    <div class="container">
        <div class="row">

            <div class="col-xs-2 col-sm-8 col-md-6 col-lg-6 col-xl-6">
                {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{# each messages}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}

                <div class="card text-white bg-dark mb-5">
                    <div class="card-body">
                        <h4 class="card-title text-center">Oh you forgot!</h4>
                        <form class="px-2 py-2" action="/ForgotPassword" method="post" id="spiritsContainer">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <button type="submit" class="btn btn-primary">Reset Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>