<!-- HOME SECTION BEGINS-->
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">

            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8 d-none d-md-block ">
                        <h1 class="display-4 div text-center">Serving the Best BBQ and Spirits Downtown since 2014.</h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-end">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-end">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                            </div>
                        </div>
                        <div class="d-flex flex-row">

                            <div class="p-4 align-self-end">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="div text-center">
                            <img src="../images/wsLogo.jpg" alt="" class="img-fluid mb-3">
                            <address>
                                <h5>
                                    <b>150 South Dargan Street</b>
                                </h5>
                                <h5>
                                    <b>Florence, SC 29506</b>
                                </h5>
                                <h5>843-407-7545</h5>
                                <p></p>
                                <h6>
                                    <b>Monday</b>: Closed
                                    <h6>
                                        <h6>
                                            <b>Tuesday-Thursday</b>: 11am-9pm</h6>
                                        <h6>
                                            <b>Friday and Saturday</b>: 11am-10pm</h6>
                                        <h6>
                                            <b>Sunday</b>: 11am-8pm</h6>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HOME SECTION ENDS-->

<!-- MENU HEAD BEGINS-->
<section id="menu-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Menu</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque ut perferendis nostrum, nulla facere
                        quam modi eos vero magni consectetur.</p>
                    <a href="/Menu/Home" class="btn btn-outline-secondary">Check out our Menu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU HEAD ENDS-->

<!-- MENU SECTION BEGINS-->
<section id="menu-section" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>SOMETHING ABOUT MENU</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur qui molestiae optio animi architecto,
                    labore voluptatem dolor, excepturi vero doloribus quo quam reprehenderit aperiam temporibus eveniet consequuntur
                    quidem ipsam ipsa.</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION BEGINS-->

<!-- SPIRITS HEAD BEGINS-->
<section id="spirits-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Spirits</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque ut perferendis nostrum, nulla facere
                        quam modi eos vero magni consectetur.</p>
                    <a href="/Guests/Spirits" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SPIRITS HEAD ENDS-->

<!-- SPIRITS SECTION BEGINS-->
<section id="spirits-section" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>SOMETHING ABOUT SPIRITS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur qui molestiae optio animi architecto,
                    labore voluptatem dolor, excepturi vero doloribus quo quam reprehenderit aperiam temporibus eveniet consequuntur
                    quidem ipsam ipsa.</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
        </div>
    </div>
</section>
<!-- SPIRITS SECTION BEGINS-->

<!-- EVENTS HEAD BEGINS-->
<section id="events-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Events</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque ut perferendis nostrum, nulla facere
                        quam modi eos vero magni consectetur.</p>
                    <a href="/Guests/Events" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EVENTS HEAD ENDS-->

<!-- EVENTS SECTION BEGINS-->
<section id="events-section" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <h3>SOMETHING ABOUT EVENTS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur qui molestiae optio animi architecto,
                    labore voluptatem dolor, excepturi vero doloribus quo quam reprehenderit aperiam temporibus eveniet consequuntur
                    quidem ipsam ipsa.</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EVENTS SECTION ENDS-->

<!-- ABOUT US HEAD BEGINS-->
<section id="about-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">About Us</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque ut perferendis nostrum, nulla facere
                        quam modi eos vero magni consectetur.</p>
                    <a href="/Guests/AboutUs" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US HEAD ENDS-->

<!-- ABOUT UT SECTION BEGINS-->
<section id="about-section" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>SOMETHING ABOUT US</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur qui molestiae optio animi architecto,
                    labore voluptatem dolor, excepturi vero doloribus quo quam reprehenderit aperiam temporibus eveniet consequuntur
                    quidem ipsam ipsa.</p>
                <div class="d-flex flex-row">

                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
                <div class="d-flex flex-row">

                    <div class="p-4 align-self-end">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quaerat cupiditate quia voluptate voluptatum repellendus?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT UT SECTION ENDS-->
