<br /><br /><br />
<div class="container text-center" id="spiritsContainer">
    <h1>Welcome to the Menu Page!</h1>
    <br />
    <h3>THE USER WILL BE ABLE TO SELECT FROM TWO BUTTONS</h3>
<h3>THAT WILL NAVIGATE TO THE DINE-IN/TAKE-OUT OR</h3>
<h3>CATORING MENUS.</h3>
    <h1>We are currently under construction,</h1>
    <h1>and will have your content ready soon!</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <a href="/Menu/Category/Home">Dine-In/Take-Out</a>
        <!--button type="button" href="/Menu/Category/Home" class="btn btn-primary btn-lg">Dine-In/Take-Out</button-->
        <button type="button" class="btn btn-secondary btn-lg">Catoring</button>
    </div>
</div>


